tbody th {
    font-weight: normal; /* Cambia el peso de la fuente a normal solo para <th> dentro de <tbody> */
  }

  a {
    text-decoration: underline; /* Aplica subrayado a todos los enlaces en la página */
  }

  .cardMg{
    margin-left: 5%;
    margin-right: 5%;
    /*margin: 3rem 5% auto 5%;
     Margen: superior, derecho, inferior, izquierdo */
  }

  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:200;
  }

  .table th,
  .table td {
    text-align: center; /* Centra el texto horizontalmente */
    vertical-align: middle; /* Centra el contenido verticalmente */
  }

  
.colCurso{
  border-top: 3px solid #373737; 
}

  