


<!DOCTYPE HTML>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Principal</title>
<!--script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"-->
<link rel="stylesheet" href="CSS/bootstrapCSS/bootstrap.min.css">
<link rel="stylesheet" href="CSS/colores.css">
<link rel="stylesheet" href="CSS/landPage copy.css">


<style>
.card{
    border: 0;
    border-radius: 22px;
}

</style>

</head>



<body class="d-flex flex-column min-vh-100">



    <div class="container conLogo">
        <h1 class="titulos">A&B Cursos</h1>
        </div>
    
                        <!--Navbar-->
<!--Navbar-->
    

    <hr class="opZero">
    
        <div class="container">
            <h2 class="titulos">Cursos recientes</h2>
            <p class="textos"> Aquí encontrarás los cursos recien agregados a nuestra plataforma.</p>
        </div>      
          
          
          <!--                                                                       Cajita con cursos-->


<!----->


                  <!--                                                                 Cajita con cursos-->
                  <div class="container cont-Cursos px-2 ">
                    <div class="row rowCursos gx-5" >
                
                
                        <!--Aqui agregar cada curso-->
                
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0" >
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso...</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="CursoComprar.html" class="btn btn-primary btn-sm">Leer más</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>  
                
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="cursosVer.html" class="btn btn-primary btn-sm">Ver completo</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>  
                
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="#" class="btn btn-primary btn-sm">Leer más</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>   
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0" >
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso...</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="CursoComprar.html" class="btn btn-primary btn-sm">Leer más</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>  
                
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="cursosVer.html" class="btn btn-primary btn-sm">Ver completo</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>  
                
                        <div class="card col-lg-4 col-md-5 col-sm-11 px-0">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <div class="card-body">
                                        <h4 class="card-title subtitulos">Nombre curso</h4>
                                        <p class="subtitulos-categoria small">Autor | Categoria</p>
                                        <p class="textos">Info de lo que se trata el curso</p>
                                        <p class="textos">Costo $20.50</p>
                                        <a href="#" class="btn btn-primary btn-sm">Leer más</a>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <img class="img-fluid h-100 imgCard" src="IMG/sql.png" alt="Imagen del curso">
                                </div>
                            </div>
                        </div>       
                
                    </div>
                
                        
                
                    </div>


        <main class="flex-grow-1 container">
    </main>


    <footer class="text-center">
        <div class="container">
            <p class="titulos">&copy; J&A cursos. Todos los derechos reservados.</p>
            <p class="titulos">
                <a href="#" class="text-white me-3">Privacidad</a>
            </p>
        </div>
    </footer>

    
<script src="JS/bootstrapJS/bootstrap.bundle.min.js"></script>
</body>