.card-chat{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border-color: #343a4000;
    box-shadow: 3px 3px 5px 5px #343a40;
    margin: 5%;
}
h3{
    text-align: center;
    padding: 5%;
}
.mensajes{
    border-radius: 3%;
    box-shadow: 3px 3px 5px 5px #85888d;
    height: 250%;
    width: 200%;
}

.ejemplo{
    margin: 35%;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    text-align: center;
    color: #f2f2f2;
    border-radius:  5%;
    background-color: #343a40;
}

.enviar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.enviar > input{
    height: 30px;
    width: 200px;
}

.enviar > button{
    width: 50px;
    height: 25px;
}

.mensaje{
    box-shadow: 3px 3px 5px 5px #85888d;
    padding: 5%;
}

footer {
    color: white;
    padding: 1rem 0;
}

.cont-Cursos{

    padding: auto;
}

.rowCursos{

    padding: 2%; gap: 10px;
}

.imgCard{
    object-fit: cover;
}