
body {
    min-height: 100vh;
}



.navBAR .row{

    padding: 1%;
}

.navBar{
    background-color: white;
    padding: 1%;
}

.rowCurso{
    padding: auto;
}

.card-block{
    padding: 2%;
}

.card{
    border-color: #343a4000;
    box-shadow: 5px 5px #343a40
}





footer {
    color: white;
    padding: 1rem 0;
}

.cont-Cursos{

    padding: auto;
}

.rowCursos{

    padding: 2%; gap: 10px;
}

.imgCard{
    object-fit: cover;
}